<template name="home">
  {{>headerView}}
  <div class="container">
    <div class="row filter">
      I`m here:
      <select id="filterLocation">
        <option value="Lviv">Lviv</option>
        <option value="NY">NY</option>
        <option value="Kiev">Kiev</option>
        <option value="London">London</option>
      </select>
    </div>

    <div class="row posts">
    {{#each filterLocation}}
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 post-message">
            <p>{{text}}</p>
            <small>{{locationM}}</small>
          </div>
      {{/each}}
    </div>
  </div>

</template>