<template name="home">
  {{>headerView}}
  <div class="container">
    <div class="row filter">
      I`m here:
      <select name="">
        <option value="Lviv">Lviv</option>
        <option value="NY">NY</option>
        <option value="Kiev">Kiev</option>
        <option value="London">London</option>
      </select>
    </div>
    <div class="row posts">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 post-message">
      	<p>Товарищи! начало повседневной работы по формированию позиции требуют от нас анализа направлений прогрессивного развития. С другой стороны консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание модели развития. Идейные соображения высшего порядка, а также новая модель организационной деятельности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач.</p>
      	<small>Revutskogo Str</small>
      </div>
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 post-message">
      	<p>Таким образом новая модель организационной деятельности способствует подготовки и реализации соответствующий условий активизации. Значимость этих проблем настолько очевидна, что консультация с широким активом позволяет оценить значение форм развития. Товарищи! консультация с широким активом способствует подготовки и реализации направлений прогрессивного развития.
        </p>
      	<small>Revutskogo Str</small>
      </div>
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 post-message">
      	<p>Товарищи! начало повседневной работы по формированию позиции требуют от нас анализа направлений прогрессивного развития. С другой стороны консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание модели развития. Идейные соображения высшего порядка, а также новая модель организационной деятельности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач.</p>
      	<small>Revutskogo Str</small>
      </div>
    </div>
  </div>

</template>