<template name="headerView">
	{{#if currentUser}}
<nav class="navbar navbar-default navbar-fixed-top navbar-fix">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{pathFor 'home'}}"><i class="fa fa-map-marker fa-2x"></i> All around you</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-right" role="search">
        <button type="text" class="btn btn-default radius-block pushMessage click-push">Push message</button>
        <a class="exit">Logout</a>
      </form>
    </div>
  </div>
</nav>
{{else}}
<nav class="navbar navbar-default navbar-fixed-top navbar-fix">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><i class="fa fa-map-marker fa-2x"></i> All around you</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-right" role="search">
        <a href="{{pathFor 'userloginView'}}">Sing in</a>
      </form>
    </div>
  </div>
</nav>
{{/if}}
</template>